<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Prism.Core" version="8.1.97" targetFramework="net472" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net472" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net472" />
  <package id="Tulpep.NotificationWindow" version="1.1.38" targetFramework="net472" />
  <package id="WPF.EventCalendar" version="1.0.3" targetFramework="net472" />
</packages>